{
  "openapi": "3.1.0",
  "info": {
    "title": "Ced's File Server API Documentation",
    "description": "API for uploading, downloading, and deleting files",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://f.c30.life",
      "description": "Production server"
    }
  ],
  "paths": {
    "/api/v1/delete/{code}": {
      "delete": {
        "summary": "Delete file",
        "description": "Delete file from the server",
        "tags": ["File"],
        "parameters": [
          {
            "in": "path",
            "name": "code",
            "required": true,
            "description": "File code",
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "tokenAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "File deleted",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "done"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized, missing or invalid token"
          },
          "404": {
            "description": "No file found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v1/download/{code}": {
      "get": {
        "summary": "Download file",
        "description": "Download file from the server",
        "tags": ["File"],
        "parameters": [
          {
            "in": "path",
            "name": "code",
            "required": true,
            "description": "File code",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File content"
          },
          "404": {
            "description": "File not found"
          }
        }
      }
    },
    "/api/v1/info/{code}": {
      "get": {
        "summary": "File information",
        "description": "Get file information",
        "tags": ["File"],
        "parameters": [
          {
            "in": "path",
            "name": "code",
            "required": true,
            "description": "File code",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileInfo"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/api/v1/list": {
      "get": {
        "summary": "List files",
        "description": "List all files on the server",
        "tags": ["File"],
        "responses": {
          "200": {
            "description": "List of files",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FileInfo"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/openapi": {
      "get": {
        "summary": "OpenAPI JSON Schema",
        "description": "Show OpenAPI JSON Schema",
        "tags": ["OpenAPI"],
        "responses": {
          "200": {
            "description": "OpenAPI JSON Schema",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": "Return OpenAPI JSON Schema"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/raw/{code}": {
      "get": {
        "summary": "Raw file",
        "description": "Get raw file content",
        "tags": ["File"],
        "parameters": [
          {
            "in": "path",
            "name": "code",
            "required": true,
            "description": "File code",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File content"
          },
          "404": {
            "description": "File not found"
          }
        }
      }
    },
    "/api/v1/upload": {
      "post": {
        "summary": "Upload file",
        "description": "Upload file to the server",
        "tags": ["File"],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "File to upload"
                  }
                },
                "required": ["file"]
              }
            }
          }
        },
        "security": [
          {
            "tokenAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "URL of the uploaded file",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "https://example.com/files/abc123"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized, missing or invalid token"
          },
          "400": {
            "description": "No file found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/pages/{page}/{type}": {
      "get": {
        "summary": "Get page information",
        "description": "Retrieves information about a specific page including pagination details and files on the page.",
        "tags": ["Page"],
        "parameters": [
          {
            "name": "page",
            "in": "path",
            "required": true,
            "description": "The page number to retrieve",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "type",
            "in": "path",
            "required": true,
            "description": "The type of files to retrieve",
            "schema": {
              "type": "string",
              "enum": [
                "NameUp",
                "NameDown",
                "CodeUp",
                "CodeDown",
                "SizeUp",
                "SizeDown",
                "DateUp",
                "DateDown"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with page information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "$ref": "#/components/schemas/PageResult"
                    },
                    "filesOnPage": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ShortFileInfo"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid page number"
          },
          "404": {
            "description": "Page not found"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "tokenAuth": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header"
      }
    },
    "schemas": {
      "PageResult": {
        "type": "object",
        "properties": {
          "prev": {
            "type": "integer",
            "nullable": true
          },
          "next": {
            "type": "integer",
            "nullable": true
          },
          "now": {
            "type": "integer"
          },
          "max": {
            "type": "integer"
          },
          "pages": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          }
        }
      },
      "FileInfo": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "File code"
          },
          "url": {
            "type": "string",
            "description": "File URL"
          },
          "rawName": {
            "type": "string",
            "description": "File name"
          },
          "type": {
            "type": "string",
            "description": "File type"
          },
          "size": {
            "type": "string",
            "description": "File size"
          },
          "rawSize": {
            "type": "integer",
            "description": "File size in bytes"
          },
          "date": {
            "type": "string",
            "description": "File date"
          },
          "unixDate": {
            "type": "number",
            "description": "File date in unix time"
          },
          "ago": {
            "type": ["string", "null"],
            "description": "File date in relative time"
          },
          "downloads": {
            "type": "integer",
            "description": "Number of downloads"
          }
        }
      },
      "ShortFileInfo": {
        "type": "object",
        "properties": {
          "rawName": {
            "type": "string",
            "description": "File name"
          },
          "code": {
            "type": "string",
            "description": "File code"
          },
          "size": {
            "type": "string",
            "description": "File size"
          },
          "rawSize": {
            "type": "integer",
            "description": "File size in bytes"
          },
          "date": {
            "type": "string",
            "description": "File date"
          },
          "ago": {
            "type": ["string", "null"],
            "description": "File date in relative time"
          },
          "downloads": {
            "type": "integer",
            "description": "Number of downloads"
          }
        }
      }
    }
  }
}
